*{
    margin: 0%;
    padding: 0%;
}

.container{
    /* border: 1px solid black; */
    height: 100vh;
    width: 100%;
}
.search-bar{
    height: 120px;
    /* border: 2px solid red; */
}
.search-contant{
    height: 60px;
    width: 450px;
    border: 1px solid green;
    margin: auto;
    position: relative;
    top: 35%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px green;
}
#input{
    height: 40px;
    width: 300px;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    color: green;
}
button{
    position: relative;
    left: 10px;
    top: 8px;
    height: 43px;
    width: 120px;
    
    /* border: 1px solid black; */
    outline: none;
    border: none;
    background-color: green;
    color: white;
    font-size: 19px;
    border-radius: 10px;

    
}
::placeholder{
    color: green;
}

button:hover{
    background-color: red;
    
}
.country1{
    /* border: 1px solid green; */
    height: 600px;
    width: 450px;
    margin: auto;
}
.country2{
    border: 1px solid green;
    height: 600px;
    width: 450px;
    margin: auto;
  
}
.result{
    display: flex;
}
img{
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    width: 450px;
    /* border: 1px solid black; */
    box-shadow: 3px 5px 8px gray;
}
.country-name{
    
    font-size: 40px;
  text-transform: uppercase;
}
#country-name1{
    position: relative;
    top: 10px;
    left: 30px;
    color: blue;
}
#population{
    color: purple;
    position: relative;
    top: 40px;
    left: 30px;

}

#coin{
position: relative;
left: 30px;
top: 70px;
color: darkred;
}
#language{
    position: relative;
    left: 30px;
    top: 100px;
    color: brown;
}
span{
    position: relative;
    left: 50px;
}
h3{
    position: relative;
    left: 120px;
    top: 10px;
    color: green;
}


